{{- range $cat, $icons := site.Data.xiv_icons -}}
<h4>{{$cat}}</h4>
    {{- range $iconkey, $icon := $icons -}}
    <div style="margin:4px; display: inline-block;"><span class="xiv-{{$cat}} xiv-{{$cat}}--{{$iconkey}}" title="{{$icon.name}}">{{$iconkey}} - {{$icon.id}}</span></div>
    {{- end -}}
    <br />
    {{- range $iconkey, $icon := $icons -}}
    <div style="margin:4px; display: inline-block; "><img src="/xiv/{{$cat}}/{{$iconkey}}.webp" title="{{$icon.name}} - {{$icon.id}}" style="width: 3em; height: 3em;"/></div>
    {{- end -}}
{{- end -}}
