{{- $text := .Get "text" -}}
{{- $x := .Get "x" -}}
{{- $y := .Get "y" -}}
{{- $size := .Get "size" | default "75" -}}
{{- $icon := .Get "icon" | default "" -}}
{{ with .Parent }}
{{- $map := .Get 0 -}}

    {{- $mapObj := index site.Data.xiv_maps $map -}}
    {{- $scale := div (mul $mapObj.size_factor 50) 2048 -}}
    {{- $offset := 1 -}}
    {{- $xPercent := mul (sub $x $offset) $scale -}}
    {{- $yPercent := mul (sub $y $offset) $scale -}}

    {{- if $text -}}
    <div class="xiv-map--circle" style="left:{{$xPercent}}%;top:{{$yPercent}}%;--s:{{$size}}px" data-tooltip="{{$text}}">
    {{- else -}}
    <div class="xiv-map--circle" style="left:{{$xPercent}}%;top:{{$yPercent}}%;--s:{{$size}}px">
    {{- end -}}
    {{- if $icon -}}
        <img height="32px" width="32px" src="/xiv/marker/{{$icon}}.webp">
    {{- end -}}
    </div>
{{- end -}}
