{{- $text := .Get 0 -}}
{{- $type := .Get 1 | default "gil" -}}

{{/* Validate currency type exists */}}
{{- $validCurrency := false -}}
{{- $currencyName := "" -}}

{{/* Check in regular currency */}}
{{- if index site.Data.xiv_currencies.currency $type -}}
    {{- $validCurrency = true -}}
    {{- $currencyName = (index site.Data.xiv_currencies.currency $type).name -}}
{{- end -}}

{{/* Check in tomestones */}}
{{- if not $validCurrency -}}
    {{- if index site.Data.xiv_currencies.tomestone $type -}}
        {{- $validCurrency = true -}}
        {{- $currencyName = (index site.Data.xiv_currencies.tomestone $type).name -}}
    {{- end -}}
{{- end -}}
{{- if not $validCurrency -}}
    {{- errorf "Invalid currency type: %s" $type -}}
{{- end -}}

<span
    class="xiv-token xiv-token--{{ $type }}"
    title="{{ $currencyName  }}"
>{{ $text | safeHTML }}<span class="sr-only"> {{ $currencyName }}</span></span>
{{- /* end */ -}}
