{{- $text := .Get "text" -}}
{{- $x := .Get "x" -}}
{{- $y := .Get "y" -}}
{{- $icon := .Get "icon" | default "flag" -}}
{{ with .Parent }}
{{- $map := .Get 0 -}}


{{- if not (index site.Data.xiv_icons.marker $icon) -}}
    {{- errorf "Invalid Map marker name: %s" $icon -}}
{{- end -}}

{{- $mapObj := index site.Data.xiv_maps $map -}}
{{- $scale := div (mul $mapObj.size_factor 50) 2048 -}}
{{- $offset := 1 -}}
{{- $xPercent := mul (sub $x $offset) $scale -}}
{{- $yPercent := mul (sub $y $offset) $scale -}}
{{- if $text -}}
<div class="xiv-map--marker" style="left:{{$xPercent}}%;top:{{$yPercent}}%;background-image:url(/xiv/marker/{{$icon}}.webp);" data-tooltip="{{$text}}"></div>
{{- else -}}
<div class="xiv-map--marker" style="left:{{$xPercent}}%;top:{{$yPercent}}%;background-image:url(/xiv/marker/{{$icon}}.webp);"></div>
{{- end -}}
{{- end -}}
