{{- $text := .Get "text" -}}
{{- $x := .Get "x" -}}
{{- $y := .Get "y" -}}
{{- $img := .Get "img" | default "flag" -}}
{{ with .Parent }}
{{- $map := .Get 0 -}}


{{- if not (index site.Data.xiv_icons.marker $img) -}}
    {{- errorf "Invalid Map marker name: %s" $img -}}
{{- end -}}

{{- $mapObj := index site.Data.xiv_maps $map -}}
{{- $scale := div (mul $mapObj.size_factor 50) 2048 -}}
{{- $offset := 1 -}}
{{- $xPercent := mul (sub $x $offset) $scale -}}
{{- $yPercent := mul (sub $y $offset) $scale -}}
{{- if $text -}}
<div class="xiv-map--marker" style="left: {{ $xPercent }}%; top: {{ $yPercent }}%; background-image: url(/xiv/marker/{{ $img }}.webp);" data-tooltip="{{$text}}"></div>
{{- else -}}
<div class="xiv-map--marker" style="left: {{ $xPercent }}%; top: {{ $yPercent }}%; background-image: url(/xiv/marker/{{ $img }}.webp);"></div>
{{- end -}}
{{- end -}}
