{{- $text := .Get "text" | default .Inner -}}
{{- $questType := .Get "quest" -}}
{{- $dutyType := .Get "duty" -}}
{{- $fateType := .Get "fate" -}}
{{- $npcType := .Get "npc" -}}
{{- $dbRef := .Get "db" -}}
{{- $href := .Get "href" -}}

{{/* Parse DB reference */}}
{{- $dbType := "" -}}
{{- $dbId := "" -}}
{{- if $dbRef -}}
    {{- $parts := split $dbRef "=" -}}
    {{- if ge (len $parts) 2 -}}
        {{- $dbType = index $parts 0 -}}
        {{- $dbId = index $parts 1 -}}
    {{- end -}}
{{- end -}}

{{/* Build content with appropriate icon */}}
{{- $content := "" -}}
{{- $hasIcon := false -}}
{{- if $questType -}}
    {{- $hasIcon = true -}}
    {{- $questTitle := index site.Data.xiv_types.quest $questType -}}
    {{- $content = printf `<span class="xiv-quest xiv-quest--%s" title="%s">%s<span class="sr-only"> %s</span></span>` $questType (title $questTitle) $text $questTitle -}}
{{- else if $dutyType -}}
    {{- $hasIcon = true -}}
    {{- $dutyTitle := index site.Data.xiv_types.duty $dutyType -}}
    {{- $content = printf `<span class="xiv-duty xiv-duty--%s" title="%s">%s<span class="sr-only"> %s</span></span>` $dutyType $dutyTitle $text $dutyTitle -}}
{{- else if $fateType -}}
    {{- $hasIcon = true -}}
    {{- $fateTitle := index site.Data.xiv_types.fate $fateType -}}
    {{- $content = printf `<span class="xiv-fate xiv-fate--%s" title="%s">%s<span class="sr-only"> %s</span></span>` $fateType $fateTitle $text $fateTitle -}}
{{- else if $npcType -}}
    {{- $hasIcon = true -}}
    {{- $npcTitle := index site.Data.xiv_types.npc $npcType -}}
    {{- $content = printf `<span class="xiv-npc xiv-npc--%s" title="%s">%s<span class="sr-only"> %s</span></span>` $npcType $npcTitle $text $npcTitle -}}
{{- else -}}
    {{- $content = $text -}}
{{- end -}}

{{/* Wrap with appropriate link if needed */}}
{{- if and $dbType $dbId (isset site.Data.xiv_types.db $dbType) -}}
    {{- $dbPath := index site.Data.xiv_types.db $dbType -}}
    {{- if $hasIcon -}}
        <a href="https://na.finalfantasyxiv.com/lodestone/playguide/db/{{ $dbPath }}/{{ $dbId }}/" class="eorzeadb_link">{{ $content | safeHTML }}</a>
    {{- else -}}
        <a href="https://na.finalfantasyxiv.com/lodestone/playguide/db/{{ $dbPath }}/{{ $dbId }}/" class="eorzeadb_link xiv-db">{{ $content | safeHTML }}</a>
    {{- end -}}
{{- else if $href -}}
    <a href="{{ $href }}">{{ $content | safeHTML }}</a>
{{- else if $hasIcon -}}
    {{ $content | safeHTML }}
{{- else -}}
    <span class="xiv xiv-pill">{{ $content | safeHTML }}</span>
{{- end -}}
